@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Inter";
  src: url("/public/SlackOnChristmasDemoRegular-0vGj4.ttf") format("ttf");
  font-display: swap;
}