---
import "../styles/global.css";
---
<section class="Heading">
<h1 class="bg-[#DDD5D0] text-[#0A122A] text-3xl text-center">Readly</h1>
<div class="bg-[#DDD5D0] min-h-screen">
<nav class="flex flex-col md:flex-row gap-4 md:gap-6 justify-center px-6 py-4 ">
  <a href="/">Home</a>
  <a href="/reviews">Reviews</a>
  <a href="/recommend">Recommendations</a>
  <a href="/PostCard">Posts</a>
</nav>
</div>
</section>


