---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Review">
  <section class="page">
    <header class="header">
      <h1>My Reviews</h1>
      <p>What ya reading?</p>
    </header>

    <div class="card-grid">
      <a href="/submit" class="create-card">
        <span class="plus">+</span>
        <p>Add Review</p>
      </a>
    </div>
  </section>
</MainLayout>
