---
import "../styles/global.css";
const href = "/new"; 
---
<style>
  :root {
    --bg: #f1deb8;
  }
  body {
    background-color: var(--bg);
 
  }
</style>

<div class="mb-6 text-center">
  <h1 class="text-3xl font-bold text-[#5A2F2F] leading-tight">Reviews</h1>
  <p class="text-sm text-[#7A4A3A] mt-1">
    Review the last book you've read here!
  </p>
</div>
<div class="flex justify-center">
  <a href="/new" class="block w-64 h-64 p-4 border-4 border-dashed rounded-xl border-[#53687E]
                          flex flex-col items-center justify-center text-brown-500
                          bg-[#3A4454]">
    <div class="text-6xl mb-2">+</div>
    <span class="text-lg font-medium">Create Review</span>
  </a>
</div>
</div>

