---
import "../styles/global.css";
const href = "/new"; 
---
<a href= {href} class="block w-64 h-64 p-4 border-4 border-dashed rounded-xl border-brown-500
                       flex flex-col items-center justify-center text-brown-500
                       bg-[#492C1D] border-brown-700">
  <div class="text-6xl mb-2">+</div>
  <span class="text-lg font-medium">Create Project</span>
</a>
