<section class="Nav Bar">
<div class="bg-[#A3B4A2] min-h-screen">
<nav class="flex flex-col md:flex-row gap-4 md:gap-6 justify-center px-6 py-4 ">
<a href="/">Home</a>
<a href="/reviews">Explore</a>
<a href="/recommend">Recommendations</a>
<a href="/Reviews">Posts</a>
</nav>
</div>
</section>